body {
  background-color: #f0f0f0; /* Цвет фона для светлого режима */
  color: #333; /* Цвет текста для светлого режима */
  /* Дополнительные стили для вашего контента */
}

/* Стили для dark mode */
body.dark-mode {
  background-color: #111; /* Цвет фона для темного режима */
  color: #f0f0f0; /* Цвет текста для темного режима */
  /* Дополнительные стили для вашего контента в темном режиме */
}
