* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
button {
  border: 0;
  cursor: pointer;
}
body {
}
a {
  text-decoration: none;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.label {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}

label {
  justify-content: center;
  display: flex;
  align-items: center;

  border: 1px solid rgb(255, 0, 0);
  width: 130px;
  height: 40px;
  color: red;
  width: 100px;
  cursor: pointer;
  transition: 0.5s;
}
.tabs input {
  display: none;
}
.images img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
#all:checked ~ .redmi,
#all:checked ~ .samsung,
#all:checked ~ .iphone {
}
#redmi:checked ~ .iphone,
#redmi:checked ~ .body,
#redmi:checked ~ .samsung {
  transition: 0.5s;
  display: none;
  background: red;
}
#samsung:checked ~ .iphone,
#samsung:checked ~ .redmi {
  display: none;
}

#iphone:checked ~ .redmi,
#iphone:checked ~ .samsung {
  display: none;
}
label:hover {
  border-radius: 20px;
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 0);
  -webkit-box-shadow: 0px 0px 10px 18px rgba(255, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 10px 18px rgba(255, 0, 0, 0.26);
  box-shadow: 0px 0px 10px 18px rgba(255, 0, 0, 0.26);
}
.images {
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
