* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
body {
  background: #141414;
}
a {
  text-decoration: 0;
  font-size: 20px;
  color: white;
}
.tab1 {
  position: relative;
  z-index: 2;
}
.tabs_block img {
  background: #000;
}
.tab2 {
  position: relative;
  z-index: 2;
}
.tab3 {
  position: relative;
  z-index: 2;
}
.tab4 {
  position: relative;
  z-index: 2;
}
.hero {
  text-align: center;
  margin-top: 100px;
}
.tabs-items {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.tabs_block:before {
  content: "";
  height: 60px;
  position: absolute;
  top: -60px;
  width: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.tabs_block img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.tabs_block {
  position: relative;
  padding: 20px 0;
  display: none;
}
.tabs_block:target {
  display: block;
}
.tabs_block:nth-child(1) {
  background-color: aqua;
  border-radius: 20px;
}
.tabs_block:nth-child(1)::before {
  background: aqua;
  left: 28.5%;
}
.tabs_block:nth-child(2) {
  border-radius: 20px;
  background-color: red;
}
.tabs_block:nth-child(2)::before {
  background-color: red;
  left: 38%;
}

.tabs_block:nth-child(3) {
  border-radius: 20px;
  background-color: blue;
}
.tabs_block:nth-child(3)::before {
  background-color: blue;
  left: 49%;
  animation: ma 1s ease-in-out;
}
@keyframes ma {
  0% {
    transform: translateX(-170px);
    background: red;
  }
  100% {
    transform: translateX(0px);
  }
}

.tabs_block:nth-child(4) {
  border-radius: 20px;
  background-color: purple;
}
.tabs_block:nth-child(4)::before {
  background-color: purple;
  left: 61%;
  animation: na 1s ease-in-out;
}
@keyframes na {
  0% {
    transform: translateX(-170px);
    background: red;
  }
  100% {
    transform: translateX(0px);
  }
}












  